:root {
  --french-blue: #424874ff;
  --periwinkle: #dcd6f7ff;
  --periwinkle-2: #a6b1e1ff;
  --pale-slate: #cacfd6ff;
  --azure-mist: #d6e5e3ff;
}
body {
  background-color: var(--periwinkle);
  color: var(--french-blue);
  margin: 0px;
  padding: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
