:root {
  --french-blue: #424874ff;
  --periwinkle: #dcd6f7ff;
  --periwinkle-2: #a6b1e1ff;
  --pale-slate: #cacfd6ff;
  --azure-mist: #d6e5e3ff;
}
body {
  background-color: var(--periwinkle);
  color: var(--french-blue);
  margin: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a:link {
  color: var(--french-blue);
}

a:visited {
  color: #402851;
}

a:hover {
  color: var(--periwinkle-2);
}

a:active {
  color: #1f2345;
}

nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.75rem 1rem;
  background-color: var(--azure-mist);
}

nav a {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background-color: var(--periwinkle);
}

img {
  border: 2px sold var(--azure-mist);
  border-radius: 8px;
}
