:root {
  --dark-amethyst-2: #240046ff;
  --indigo-ink: #3c096cff;
  --royal-violet: #7b2cbfff;
  --lavender-purple: #9d4eddff;
  --mauve: #e0aaffff;
}

.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: var(--mauve);
  color: var(--dark-amethyst-2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
}

hr {
  border: none;
  height: 3px;
  background-color: var(--indigo-ink);
  margin: 20px 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Orbitron", sans-serif;
}

ul {
  list-style-type: circle;
}

nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 16px;
  background-color: var(--indigo-ink);
  position: sticky;
  top: 0;
}

nav a {
  display: inline-block;
  padding: 6px 13px;
  background-color: white;
  border-radius: 8px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 16px;
  background-color: white;
  border-radius: 12px;
}
