:root {
  --dark-amethyst-2: #240046ff;
  --indigo-ink: #3c096cff;
  --royal-violet: #7b2cbfff;
  --lavender-purple: #9d4eddff;
  --mauve: #e0aaffff;
}

.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  max-width: 900px;
  margin: 0 auto;
}

body {
  background-color: var(--mauve);
  color: var(--dark-amethyst-2);
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Orbitron", sans-serif;
}

ul {
  list-style-type: circle;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
