:root {
  --dark-amethyst-2: #240046ff;
  --indigo-ink: #3c096cff;
  --royal-violet: #7b2cbfff;
  --lavender-purple: #9d4eddff;
  --mauve: #e0aaffff;
}

.header-container {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px;
}

body {
  background-color: var(--mauve);
  color: var(--dark-amethyst-2);
  margin: 0 auto;
}

ul {
  list-style-type: circle;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}
