<footer>
  <p>
    <a href="https://github.com/emily-gerard" target="_blank">GitHub</a> |
    <a href="https://emily-gerard.github.io/" target="_blank"> GitHub.io</a>
    |
    <a href="https://webpages.charlotte.edu/egerard2/" target="_blank"
      >CLT Site</a
    >
    |
    <a
      href="https://www.linkedin.com/in/emily-gerard-527338393/"
      target="_blank"
    >
      LinkedIn
    </a>
    |
    <a href="https://www.freecodecamp.org/emilygerard" target="_blank"
      >FreeCodeCamp</a
    >
  </p>
</footer>
