<footer>
  <p>
    <a href="https://github.com/emily-gerard" target="_blank">GitHub</a> |
    <a href="https://emily-gerard.github.io/" target="_blank"> GitHub.io</a>
    |
    <a href="https://webpages.charlotte.edu/egerard2/" target="_blank"
      >CLT Site</a
    >
    |
    <a
      href="https://www.linkedin.com/in/emily-gerard-527338393/"
      target="_blank"
    >
      LinkedIn
    </a>
    |
    <a href="https://www.freecodecamp.org/emilygerard" target="_blank"
      >FreeCodeCamp</a
    >
    |
    <a href="egdh.com/firm.html" target="_blank"
      >Page Designed by Emily Gerard Design House</a
    >
    |
    <a href="itis3135-react-vert-psi.vercel.app" target="_blank">React Page</a>
    |
    <a href="client_project/index.html" target="_blank">Client Project</a>
  </p>
</footer>
