<header>
  <h1>Emily Gerard's Eclectic Goldfish ~ ITIS 3135</h1>

  <nav aria-label="Primary">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="introduction.html">Introduction</a></li>
      <li><a href="contract.html">Contract</a></li>
      <li><a href="website_evaluations">Website Evaluations</a></li>
      <li><a href="projects/survey.html">Survey</a></li>
      <li><a href="projects/cards.html">Playing Cards</a></li>
      <li><a href="projects/inventory.html">Inventory</a></li>
      <li><a href="projects/documentation.html">Documentation</a></li>
      <li><a href="projects/product.html">Product</a></li>
      <li><a href="intro_form.html">Introduction Form</a></li>
      <li><a href="proj_ovw.html">Project Overview</a></li>
    </ul>
  </nav>

  <nav aria-label="Secondary">
    <ul>
      <li><a href="stuff/sMalL%20kItTy%20%3A%29.htm">Crap Page</a></li>
      <li><a href="hobby/index.html">Hobby Page</a></li>
      <li>
        <a href="client_project/index.html" target="_blank">Client Project</a>
      </li>
    </ul>
  </nav>
</header>
