<header>
  <h1>Emily Gerard's Eclectic Goldfish ~ ITIS 3135</h1>

  <nav aria-label="Primary">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="introduction.html">ITIS 3135 Page</a></li>
      <li><a href="survey.html">Survey</a></li>
      <li><a href="cards.html">Playing Cards</a></li>
      <li><a href="inventory.html">Inventory</a></li>
      <li><a href="documentation.html">documentation</a></li>
      <li><a href="product.html">Product</a></li>
    </ul>
  </nav>

  <nav aria-label="Secondary">
    <ul>
      <li><a href="contract.html">Contract</a></li>
      <li><a href="stuff/sMalL%20kItTy%20%3A%29.htm">Crap Page</a></li>
      <li><a href="website_evaluations">Website Evaluations</a></li>
    </ul>
  </nav>
</header>
