@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --tea-green: #c4d6b0ff;
  --cerulean: #477998ff;
  --coffee-bean: #291f1eff;
  --cinnabar: #f64740ff;
  --brown-red: #a3333dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page styling */
body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cerulean);
  width: 100%;
  padding: 15px 20px;
}

h1 {
  font-family: "Saira Stencil", sans-serif;
  color: var(--cinnabar);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--tea-green);
}

a:visited {
  color: white;
}

a:hover,
a:active {
  color: var(--cinnabar);
}

nav {
  font-family: "Inter", sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav a {
  display: inline-block;
  padding: 6px 13px;
  font-size: 20px;
}

/* Slideshow styling */
.container {
  position: relative;
  max-width: 900px;
  margin: 20px auto;
}

.slides {
  display: none;
}

.slides img {
  width: 100%;
  display: block;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 10px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
  width: 100%;
}

.active,
.demo:hover {
  opacity: 1;
}
